.advertising-container {
  width: 100%;
  height: 66vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.publicidad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease; 
}

.imagen {
  width: 177vh;
  height: 60vh;
  transition: opacity 0.5s ease; 
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

  